{% extends 'app_users/auth_base.html' %}
{% load static %}
{% block content %}
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
        <div class="row flex-center min-vh-100 py-6">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4"><a class="d-flex flex-center mb-4" href="{% url 'index' %}"><span class="font-sans-serif fw-bolder fs-5 d-inline-block">Online Store &#x1F6D2;</span></a>
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="row flex-between-center mb-2">
                  <div class="col-auto">
                    <h5>Register</h5>
                  </div>
                  <div class="col-auto fs--1 text-600"><span class="mb-0 undefined">Have an account?</span> <span><a href="{% url 'login' %}">Login</a></span></div>
                </div>
                  <form class="register-form" action="" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <input class="form-control" type="email" name="email" autocomplete="on" placeholder="Email address" required />
                  </div>
                  <div class="mb-3">
                    <input class="form-control" type="text" name="first_name" autocomplete="on" placeholder="First name" required />
                  </div>
                  <div class="mb-3">
                    <input class="form-control" type="text" name="last_name" autocomplete="on" placeholder="Last name" required />
                  </div>
                  <div class="row gx-2">
                    <div class="mb-3 col-sm-6">
                      <input class="form-control" type="password" name="password" autocomplete="on" placeholder="Password" required />
                    </div>
                    <div class="mb-3 col-sm-6">
                      <input class="form-control" type="password" name="confirm_password" autocomplete="on" placeholder="Confirm Password" required />
                    </div>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="basic-register-checkbox" name="terms" required />
                    <label class="form-label" for="basic-register-checkbox">I accept the <a href="#!">terms</a> and <a href="#!">privacy policy</a></label>
                  </div>
                  <div class="mb-3">
                    <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Register</button>
                  </div>
            </form>

        <script>
          document.querySelector(".register-form").addEventListener("submit", function (e) {
            const password = document.querySelector('input[name="password"]').value;
            const confirmPassword = document.querySelector('input[name="confirm_password"]').value;

            if (password !== confirmPassword) {
              e.preventDefault(); // Formani yubormaydi
              alert("Parollar mos kelmaydi!");
            }
          });
        </script>

                <div class="position-relative mt-4">
                  <hr class="bg-300" />
                  <div class="divider-content-center">or register with</div>
                </div>
                <div class="row g-2 mt-2">
                  <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
                  <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



  {% endblock %}